html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.cont {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: black;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    color: rgb(247, 247, 247);
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
.logo {
    position: absolute;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 13px;
  }
  
  .logo h1 {
     font-family: Segoe UI, Helvetica, calibri, serif;
     margin-top: 4px;
  }
  
  #menu {
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
    display: none;
  }
  
  #close {
     position: absolute;
     top: 17px;
     right: 20px;
     cursor: pointer;
     display: none;
  }
  
  nav ul {
    display: block;
    float: right;
    overflow: hidden;
    margin: 7px 0;
    margin-right: 10px;
  }
  
  nav ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 17px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 617px) {
    .logo {
      margin-top: 7px;
      position: relative;
      overflow: hidden;
      display: block;
      font-size: 14px;
    }
     .logo h1 {
        position: relative;
        margin-bottom: 10px;
     }
    nav {
      width: 100vw;
      height: 100vh;
      display: none;
    }
    nav ul {
      padding-top: 20px;
      display: block;
      width: 100%;
      margin: auto;
    }
    .nav-expanded {
      display: block;
    }
    nav ul li {
      float: none;
      border-bottom: 2px solid #D8D8D8;
    }
    nav ul li:last-child {
      border-bottom: none;
    }
    #menu {
      display: block;
    }
  }